@charset "UTF-8";
/* Fonts */
/* Global colors */
/* Alert colors */
/* Spacing */
/* Exemple de mixin */
/* Une fois le mixin déclaré, il peut être appelé partout avec la syntaxe suivante :
@include row-flex(); 
donnera :
    display: flex;
    flex-wrap: wrap;
    flex-direction : row;


@include row-flex(nowrap);
donnera :
    display: flex;
    flex-wrap: nowrap;
    flex-direction : row;

@include row-flex(wrap,column);
donnera :
    display: flex;
    flex-wrap: nowrap;
    flex-direction : column;

Les paramètres wrap et column sont optionneles car on a défini une valeur par défaut dans le mixin
$wrap : wrap et $direction : row
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* le reset toujours en premier */
/* Dédié à la grille du site */
/* Contiendra tous les sélecteurs des champs de formulaire (input, button, textarea, select, radio, etc.) */
input[type=email] {
  padding: 1rem;
  border: 1px solid #8C8C8C;
  /* Style des valeurs affichés si le champ est vide */
}
input[type=email]::-webkit-input-placeholder {
  color: #1a1a1a;
}
input[type=email]::-moz-placeholder {
  color: #1a1a1a;
}
input[type=email]:-ms-input-placeholder {
  color: #1a1a1a;
}
input[type=email]::-ms-input-placeholder {
  color: #1a1a1a;
}
input[type=email]::placeholder {
  color: #1a1a1a;
}
input[type=email]:focus {
  border-color: #9c225f;
}

textarea {
  padding: 1rem;
  border: 1px solid #8C8C8C;
}

input[type=submit],
button {
  padding: 1rem;
  border: 1px solid #8C8C8C;
}

select {
  padding: 1rem;
  border: 1px solid #8C8C8C;
}

/* Contiendra tous les sélecteurs des éléments typographiques (titre, blockquote, class spécifique d'un titre etc) */
html {
  font-size: 62.5%;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

em {
  font-style: italic;
}

h1,
h2,
h3 {
  color: #BF4080;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.65rem;
}

h3 {
  font-size: 2.3rem;
  margin-bottom: 0px;
}

/*le dossier vendor sert à ajouter les css des librairies externes*/
.adv-item:nth-child(1) {
  background-color: #871d52;
}
.adv-item:nth-child(2) {
  background-color: #721946;
}
.adv-item:nth-child(3) {
  background-color: #5d1439;
}
.adv-item:nth-child(4) {
  background-color: #48102c;
}
.adv-item:nth-child(5) {
  background-color: #330b1f;
}
.adv-item:nth-child(6) {
  background-color: #1e0713;
}

.messages {
  padding: 1.6rem;
}

.alert, .alert-warning, .alert-error, .alert-success {
  border: 1px solid #8C8C8C;
  padding: 1.6rem;
  color: #fff;
}

.alert-success {
  background-color: rgb(38, 184, 38);
}

.alert-error {
  background-color: rgb(233, 67, 67);
}
.alert-error:hover {
  background-color: rgb(38, 184, 38);
}

.alert-warning {
  background-color: rgb(255, 115, 0);
}

code {
  background: black;
  border: 1px solid #8C8C8C;
  color: #6b717f;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
code.before, code.after {
  width: 40%;
}
code.before {
  float: left;
}
code.after {
  float: right;
}

section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  border: 1px #8C8C8C solid;
  padding: 1.6rem;
  margin: 1.6rem;
  -webkit-box-shadow: 10px 10px 15px -4px #6b717f;
  box-shadow: 10px 10px 15px -4px #6b717f;
  clear: both;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
section--large {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

/* Gère le css globales du site */
body {
  font-family: "Space Mono", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  /* en général entre 1.4 et 1.6 pour avoir une line-height correct */
  color: #6b717f;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
  /* On empeche le scroll horizontale dans la page */
  /* Attention overflow-x hidden sans la propriété ci-dessous gêne le scroll sur iphone et ipad */
  -webkit-overflow-scrolling: touch;
  /* https://developer.mozilla.org/fr/docs/Web/CSS/-webkit-overflow-scrolling */
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: #9c225f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

main {
  padding: 0 1em;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* le common toujours en premier */
/* Gère le css lié au header du site */
/* Gère le css lié au footer du site */
footer h3 {
  padding: 3.2rem;
}

/* Gère le css lié à la navigation principale *//*# sourceMappingURL=style.css.map */